html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* ==========
Layout
========== */
.container-room-input {
  margin: 2rem;
}

.container-chat {
  border: solid 2px #454545;
  margin: 0 auto;
  width: 70%;
}

.chat-header,
.chat-body,
.chat-footer {
  border: solid 1px #454545;
}