html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* ==========
Layout
========== */
.container-room-input {
  margin: 2rem;
}

.container-home-feed {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  border: red 1px solid;
  overflow: auto;

}

.container-chat,
.container-welcome {
  border: solid 2px #454545;
  margin: 0 auto;
  /* width: 70%; */
  flex: 3 220px;
  /* height: 100%; */
  overflow: auto;
}

.chat-header,
.chat-body,
.chat-footer {
  border: solid 1px #454545;
}

.chat-body {
  overflow: auto;
  height: 300px;
  padding: 1rem;
  /* image from https://www.svgbackgrounds.com/  color #22427F*/
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.76'%3E%3Cpolygon fill='%23070d19' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230e1a33' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2314284c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231b3566' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2322427F' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.chat-footer,
.chat-header {
  background-color: rgba(34, 66, 127, 1)

}

.chat-avatar {
  height: 5rem;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 3px solid rgba(34, 66, 127, .4); 
}

/* Chat content layout*/
.container-messages {
  display: flex;
  flex-direction: column;
}

.container-chat-content-sent  {
  width: 80%;
  max-width: 300px;
  margin-bottom: 1em;
  border: solid 1px #454545;
  border-radius: 5.6px;
  background-color: aqua;
  opacity: .6;
  align-self: flex-end;
}

.container-chat-content-received {
  width: 80%;
  max-width: 300px;
  margin-bottom: 1em;
  border: solid 1px #454545;
  border-radius: 5.6px;
  background-color: #778899;
  opacity: .6;
  color: #f5f5f5;
  align-self: flex-start;

}

.gif_image {
  max-width: 100%;
}


/* Avatar page */

.container-avatars {
  display: flex;
  justify-content: space-evenly;
}

.avatar {
  height: 5rem;
  background: #f5f5f5;
  border: 2px solid rgba(34, 66, 127, .4); 
}

.selected-avatar {
  height: 5rem;
  background: pink;
  border: 2px solid rgba(34, 66, 127, .4); 
}

/* Contacts component */

.container-contacts {
  margin: 0;
  /* width: 30%; */
  padding: 1rem;
  border:black 1px solid;
  flex: 1 220px;
  /* order: 2; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  /* background-color: rgba(34, 66, 127, .2) */

}

.container-contact-item,
.container-contact-item-selected {
  opacity: 0.5;
  border-radius: 2.6px;
  cursor: pointer;
  border: 3px solid rgba(34, 66, 127, .4); 
  /* min-height: 1rem; */
}

.container-contact-item {
  background: #f5f5f5;
}

.container-contact-item-selected {
  background: skyblue;
}

.container-contact-current-user {
  border-radius: 2.6px;
  background-color: slategrey;
  color: #f5f5f5;
  border: 3px solid rgba(34, 66, 127, .4); 
}

.container-contacts .avatar{
  height: 3rem;
  border-radius: 50%;
}

/* Welcome component*/

/*  Buttons */
/* .emojis__like,
.emojis__laugh {

} */

/* ==========
Typography
========== */
@import url(https://fonts.googleapis.com/css?family=Coda+Caption:800);

body {
  font-family: 'Coda', cursive;
}

.heading-big {
  font-family: 'Coda Caption', sans-serif;
}

.container-contact-item,
.container-contact-item-selected,
.container-contact-current-user {
  font-family: 'Press Start 2P', cursive;
}

.chat-header,
.chat-body {
  color: #f5f5f5;
}